<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>我爱2B哥 の 简介</title>
<meta name="description" content="个人简历描述">
<meta name="keywords" content="关键词" />

<!-- Favicons
    ================================================== -->

<link rel="shortcut icon" href="/resume/img/favicon.ico" type="image/x-icon">


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/resume/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/resume/fonts/font-awesome/css/font-awesome.css">

<!-- Slider
    ================================================== -->
<link href="/resume/css/owl.carousel.css" rel="stylesheet" media="screen">
<link href="/resume/css/owl.theme.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="/resume/css/style.css">
<link rel="stylesheet" type="text/css" href="/resume/css/prettyPhoto.css">

<link rel="stylesheet" type="text/css" href="/resume/fonts/sns_fonts/iconfont.css">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-terminal"></i>我爱2B哥 の 简介</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">基本资料</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#works">项目经验</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#about">专业技能</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#team">工作经历</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#testimonials">自我评价</a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="#contact">联系方式</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1><span class="brand-heading">Java工程师</span></h1>
                        <p class="intro-text">喜欢技术，热爱挑战</p>
                        <a href="#services" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>基本 <strong>资料</strong></h2>
      <hr>
      </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-laptop"></i>
        <h4><strong>个人信息</strong></h4>
        <p>
		英文名: yeming.gao</br>
		性别：男</br>
		年龄: 25岁</br>
		籍贯：皖
		</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-code"></i>
        <h4><strong>专业学历</strong></h4>
        <p>
		专业：数学与应用数学</br>
		学历：大学本科</br>
		</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>
        <h4><strong>毕业学校</strong></h4>
        <p>
		  毕业学校：安徽理工大学</br>
		  学习技能：Java工程师</br>
		</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-bullseye"></i>
        <h4><strong>联系方式</strong></h4>
        <p>QQ：1312510670</br>
		   邮箱：gaoyeming520@foxmail.com</br>
		   手机：13966492397</p>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="works">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>项目 <strong>经验</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <!-- <p>主要涉及电商，金融，家装领域，包括PC端，手机端，微信端，移动APP端等等，主要技术是HTML+CSS+JS</p> -->
    </div>
    <div class="row">
      <div class="portfolio-items">
	  
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4>企付宝</h4>
                <small>技术：springboot+mysql+redis+activeMq</small>
                <div class="clearfix"></div>
				<i class="fa fa-search"> <a href='http://www.ymjihe.com' target='_blank' title="详细">详细</a></i>
               </div>
              <img src="/resume/img/portfolio/01.jpg" class="img-responsive" alt="企付宝"></div>
          </div>
        </div>
		
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4>支付管家</h4>
                <small>技术：springboot+mysql+redis+activeMq</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"><a href='http://www.ymjihe.com' target='_blank' title="详细">详细</a></i> </div>
              <img src="/resume/img/portfolio/02.jpg" class="img-responsive" alt="支付管家"></div>
          </div>
        </div>
		
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4>企账通</h4>
                <small>技术：springboot+mysql+redis+activeMq</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"><a href='http://www.ymjihe.com' target='_blank' title="详细">详细</a></i> </div>
              <img src="/resume/img/portfolio/03.jpg" class="img-responsive" alt="企账通"></div>
          </div>
        </div>
		
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg">
              <div class="hover-text">
                <h4>展业</h4>
                <small>技术：spring+mysql+redis</small>
                <div class="clearfix"></div>
                <i class="fa fa-search"><a href='http://www.ymjihe.com' target='_blank' title="详细">详细</a></i> </div>
              <img src="/resume/img/portfolio/04.jpg" class="img-responsive" alt="展业"></div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2><strong>专业</strong> 技能</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6"> <img src="/resume/img/about.png" class="img-responsive" style="width:100%; height:700px;"> </div>
      <div class="col-md-6">
        <div class="about-text"> <i class="fa fa-cutlery"></i>
          <div class="padding-left"><h4>语法</h4>
          <p>熟悉面向对象思想；有扎实的Java基础.</p></div>
          <i class="fa fa-magic"></i>
          <div class="padding-left"><h4>框架</h4>
          <p>熟练掌握Spring、SpringMVC、Mybatis、JPA、SpringBoot、SpringCloud等主流框架；具有一定的shell脚本语言的编写能力.</p></div>
          <i class="fa fa-dedent"></i>
          <div class="padding-left"><h4>中间件</h4>
          <p>熟悉tomcat、jboss中间服务器及相关配置；熟悉ActiveMQ消息队列；熟悉redis缓存数据库及相关命令；熟悉zookeeper注册中心；熟悉docker容器的镜像构建；熟悉Nginx的配置.</p></div>
		  <i class="fa fa-database"></i>
          <div class="padding-left"><h4>数据库</h4>
          <p>熟悉MySql数据库，及索引；了解Oracle、informax数据库；熟悉SQL语句以及一般的优化.</p></div>
		   <i class="fa fa-italic"></i>
          <div class="padding-left"><h4>web端</h4>
          <p>熟悉JQuery、bootstrap、extjs前端框架及Ajax交互技术.</p></div>
		  <i class="fa fa-cogs"></i>
          <div class="padding-left"><h4>工具</h4>
          <p>熟悉使用maven、git、svn、idea、jekins等相关工具的使用.</p></div>
		  <i class="fa fa-ellipsis-h"></i>
          <div class="padding-left"><h4>其他</h4>
          <p>具有一定的文档编写能力；熟悉Linux系统的一些常用命令.</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>工作 <strong>经历</strong></h2>
      <hr>
      <p>热爱互联网，热爱技术，专注于后端技术开发</p>
    </div>
    <div id="row">
	 <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="/resume/img/team/04.jpg" alt="汇付天下" class="img-circle team-img">
          <div class="caption">
            <h3>汇付天下</h3>
            <p>Java工程师</p>
            <p>工作时间：2018.12-至今<br>
			①参与讨论项目前期业务需求和框架设计；
			②负责相关接口设计开发</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="/resume/img/team/03.jpg" alt="中民普惠" class="img-circle team-img">
          <div class="caption">
            <h3>中民普惠</h3>
            <p>Java工程师</p>
            <p>工作时间：2018.5-2018.12<br>
			①负责相关业务模块的开发、部署、测试、维护以及相应文档的编写，制定项目计划；
            ②项目主要负责任人，git项目管理及代码review;
            ③数据表设计、数据库查询优化；
            ④负责前端调用接口的对接；
            ⑤参与讨论项目前期业务需求和框架设计；</p>
          </div>
        </div>
      </div>
	   <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="/resume/img/team/02.jpg" alt="上海平欣" class="img-circle team-img">
          <div class="caption">
            <h3>上海平欣</h3>
            <p>Java工程师</p>
            <p>工作时间：2016.7-2018.6<br>
			①Java代码编写和调试；
            ②项目维护，负责相关项目需求的确定及修改，及已经上线的项目维护；
            ③需求制定，负责与业务讨论需求及确定需求最后制定出需求文档；
            ④项目管理，在任职期间担任组长，把控相关模块项目代码质量与整体进度；
            ⑤人员培训，主要对公司新员工培训我公司的主要框架</p>
          </div>
        </div>
      </div>
	  <div class="col-md-3 col-sm-6">
        <div class="thumbnail"> <img src="/resume/img/team/01.jpg" alt="安徽理工大学" class="img-circle team-img">
          <div class="caption">
            <h3>安徽理工大学</h3>
            <p>数学与应用数学</p>
            <p>主要学习掌握数学科学的基本理论、方法与技能，能够运用数学知识，使用计算机解决实际问题</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>自我 <strong>评价</strong></h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item">       
            <p>
			热爱学习,良好的团队合作精神，能迅速融入新的团队。</br>易和人相处，拥有良好的亲和力。
			</p>
          </div>
          <div class="item">
            <p>
			有强烈的责任感，工作踏实，性格开朗乐观，积极上进，吃苦耐劳。</br>能在较大的压力下保持良好的工作状态，善于自我调节。
			</p>
          </div>
          <div class="item">
            <p>
			非常热爱编程，喜欢钻研新的技术，喜欢接受各种不同的挑战。</br>具有很强的自学能力和良好的学习方法。
			</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>联系</strong> 方式</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p>上海市浦东新区</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>gaoyeming520@foxmail.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p>QQ:1312510670</p>
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <h3>给我留言</h3>
      <form name="sentMessage" id="contactForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="姓名" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="邮箱" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="内容" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="button" class="btn btn-default">确认发送</button>
      </form>
    </div>
  </div>
    <!-- 引入页脚footer-fragment -->
    <div th:replace="backstage/footer::footer-fragment"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="/resume/js/jquery.1.11.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="/resume/js/bootstrap.js"></script>
<script type="text/javascript" src="/resume/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/resume/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/resume/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/resume/js/jquery.counterup.js"></script>
<script type="text/javascript" src="/resume/js/waypoints.js"></script>
<script type="text/javascript" src="/resume/js/jqBootstrapValidation.js"></script>
<script src="/resume/js/owl.carousel.js"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="/resume/js/main.js"></script>

<script>
 $(function()
 {
 var u = navigator.userAgent;
if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1||u.indexOf('iPhone') > -1||u.indexOf('Windows Phone') > -1||navigator.userAgent.indexOf("iPad")>-1) {
   $(".hover-bg .hover-text").css({'opacity':'1'});
   
   $(".hover-bg .hover-text>h4").css({'opacity':'1','-webkit-transform':'translateY(0)','transform':'translateY(0)'});
   
   $(".hover-bg .hover-text>i").css({'opacity':'1'});
} 
    
 });
  
</script>
</body>
</html>